body{
    display: flex;
    justify-content: center;
}
canvas{
    background-color: rgb(59, 56, 56);
}
#hud{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 50vh;
    background-color: green;
}
#button-start{
    width: 25%;
    height: 25%;
}