body{
    display: flex;
    justify-content: center;
}
canvas{
    background-color: rgb(59, 56, 56);
}
#interface{
    display: flex;
    justify-content: center;
    width: 25%;
    height: 50vh;
    background-color: green;
}