body{
    display: flex;
    justify-content: center;
}
canvas{
    background-color: rgb(59, 56, 56);
}
#hud{
    width: 25%;
}
#scoreboard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 35%;
    background-color: rgb(65, 157, 40);
}
#scoreboard h2{
    margin: 0;
}
#scoreboard div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}
#scoreboard button{
    background: #009ED8;
	border: none;
    color: white;
    margin: 10px;
    width: 100px;
    height: 50px;
}
#log {
    background: rgb(109, 112, 113);
    color: white;
    width: 100%;
    height: 65%;
}
#log p{
    margin: 0;
}
